<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Driver Test</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <form id="driverForm">
            <select class="form-control" id="bookingStatus">
              <option value="confirmed">Confirmed</option>
            </select>
            <br />
            <input
              type="button"
              name="submit"
              value="Confirm"
              Booking”
              class="btn btn-danger"
            />
          </form>
        </div>
        <div class="col-xs-6"></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"
      type="text/javascript"
    ></script>
    <script>
      //connecting our socket with the browser
      var socket = io();
      socket.on("connect", () => {
        console.log(socket.id);

        var driverCurrentData = {
          socketId: socket.id,
          locationId: "5c73c005e7179a3e36dc9770"
        };

        $.ajax({
          type: "PUT",
          url: "/api/driverLocationSocket/" + driverCurrentData.locationId,
          dataType: "json",
          data: driverCurrentData
        }).done(function(response) {
          if (response !== "") {
            console.log("success");
          } else {
            console.log("Error" + response);
          }
        });
      });

      //When emited by user on random nearby driver

      //if status in booking is 1 go from sockets to statuses

      //var driverRequest = socket.id + "driverRequest";
      // socket.on(driverRequest, function(passengerData) {
      //console.log("Passenger looking for a driver", passengerData);

      // //Update booking status to confirmed on btn click
      $(".btn").click(function(e) {
        e.preventDefault();

        var status = $("#bookingStatus").val();
        var dataToSend = {
          driverId: "5c73ba28e7179a3e36dc94d3",
          id: "5ce7f1657e81b575c8f17a42", // passengerData._id,
          status: status
        };
        $.ajax({
          type: "PUT",
          url: "/api/bookings/5ce7f1657e81b575c8f17a42", // + passengerData._id,
          dataType: "json",
          data: dataToSend
        }).done(function(response) {
          // Check for a successful (blank) response
          if (response !== "") {
            console.log("Success");
          } else {
            console.log("Error: " + response);
          }
        });
      });
      // });

      //update location
      socket.on("trackDriver", function(location) {
        var driverMovement = [
          {
            lat: -1.9637375,
            long: 30.1069487
          },
          {
            lat: -1.9637376,
            long: 30.1069488
          },
          {
            lat: -1.9637377,
            long: 30.1069489
          },
          {
            lat: -1.9637378,
            long: 30.106949
          },
          {
            lat: -1.9637379,
            long: 30.1069491
          },
          {
            lat: -1.963738,
            long: 30.1069491
          },
          {
            lat: -1.9637381,
            long: 30.1069492
          },
          {
            lat: -1.9637382,
            long: 30.1069493
          }
        ];
        var index = 0;
        var interval = setInterval(function() {
          var movementObj = driverMovement[index++];
          if (index == driverMovement.length) {
            clearInterval(interval);
            console.log(index);
          }
          var driverCurrentLocation = {
            locationId: location._id,
            latitude: movementObj.lat,
            longitude: movementObj.long
          };
          $.ajax({
            type: "PUT",
            url: "/api/driverLocation/" + location._id,
            dataType: "json",
            data: driverCurrentLocation
          }).done(function(response) {
            // Check for a successful (blank) response
            if (response !== "") {
              console.log("Driver Location updated ");
            } else {
              console.log("Error: " + response);
            }
          });
        }, 5000);
      });
    </script>
  </body>
</html>
